.carousel .slide img {
    position: relative;
    z-index: 1;
  }
  
  .carousel .slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 100%);
    z-index: 0;
    pointer-events: none; /* Asegura que la capa no bloquee la interacción con la imagen */
  }
  